@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --font-family: 'Poppins', sans-serif;
  --font-size-1: 2rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1rem;
  --font-size-5: .938rem;
  --font-size-6: .825rem;
  --font-size-7: .75rem;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --primary-color: hsl(183, 51%, 49%);
  /*#3eb7be*/
  /*hsl(184, 81%, 43%)*/
  --background-color-primary: hsl(90, 7%, 6%);
  --background-color-secondary: hsl(120, 4%, 13%);
  /*	hsl(120, 5%, 12%)*/
  --text-color-light: hsl(160, 23%, 97%);
  --text-color-normal: rgb(192, 192, 192);
  --text-color-dark: hsl(120, 1%, 45%);
}

@media screen and (min-width: 968px) {
  :root {
    --font-size-1: 3.5rem;
    --font-size-2: 2.25rem;
    --font-size-3: 1.5rem;
    --font-size-4: 1.25rem;
    --font-size-5: 1rem;
    --font-size-6: .875rem;
    --font-size-7: .825rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0;
  background-color: var(--background-color-primary);
  color: var(--text-color-dark);
}

body,
button,
input {
  font-family: var(--font-family);
  font-size: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-bold);
  color: var(--text-color-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  padding: 2rem 0 2rem;
}

.section__title {
  position: relative;
  margin-bottom: 1.1rem;
  font-size: var(--font-size-2);
  text-transform: capitalize;
}

.section__title--center {
  text-align: center;
}

.section__subtitle {
  position: relative;
  margin-bottom: .8rem;
  font-size: var(--font-size-4);
  color: var(--primary-color);
}

.section__subtitle--center {
  text-align: center;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .5rem 1.5rem;
  border-radius: 2rem;
  font-size: var(--font-size-5);
  font-weight: normal;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--background-color-primary);
}

.button--small {
  font-size: var(--font-size-6);
  padding: .3rem 1rem;
}

.header {
  width: 100%;
  background-color: var(--background-color-primary);
  -webkit-box-shadow: 0 2px 5px #404040;
          box-shadow: 0 2px 5px #404040;
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

.nav__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-light);
}

.nav__logo-icon {
  color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 2rem 2rem;
    z-index: -100;
    background-color: var(--background-color-primary);
    -webkit-box-shadow: 0 2px 5px #404040;
            box-shadow: 0 2px 5px #404040;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

@media screen and (max-width: 767px) {
  .nav__menu--show {
    top: 4rem;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
}

@media screen and (min-width: 767px) {
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.nav__link {
  font-size: var(--font-size-4);
  color: var(--text-color-light);
}

.nav__link:hover {
  color: var(--primary-color);
}

.nav__link--active {
  color: var(--primary-color);
}

.nav__button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.3rem;
          column-gap: 1.3rem;
}

.nav__toggle {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-light);
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .nav__toggle {
    display: none;
  }
}

.home {
  padding: 6rem 0 2rem;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__subtitle {
  font-size: var(--font-size-2);
  color: var(--primary-color);
}

.home__title {
  margin-bottom: .7rem;
  font-size: var(--font-size-1);
  color: var(--text-color-light);
}

.home__description {
  margin-bottom: .8rem;
  text-align: center;
  font-size: var(--font-size-4);
  color: var(--text-color-dark);
}

.about__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1.4rem;
}

@media screen and (min-width: 768px) {
  .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
}

.about__description {
  margin-bottom: 1.2rem;
  font-size: var(--font-size-5);
  color: var(--text-color-dark);
}

.destination__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
}

@media screen and (min-width: 576px) {
  .destination__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 767px) {
  .destination__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .destination__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.destination__card {
  position: relative;
  text-align: center;
  background-color: var(--background-color-secondary);
  overflow: hidden;
  border-radius: .8rem;
}

.destination__card:hover .destination__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.destination__cover {
  overflow: hidden;
}

.destination__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: .4s;
  transition: .4s;
}

.destination__data {
  padding: 1rem .7rem;
}

.destination__title {
  margin-bottom: .7rem;
  font-size: var(--font-size-4);
  color: var(--text-color-light);
}

.destination__description {
  margin-bottom: .8rem;
  font-size: var(--font-size-6);
  color: var(--text-color-dark);
}

.destination__link {
  font-size: var(--font-size-6);
  color: var(--primary-color);
}

.destination__link:hover .destination__link-icon {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.destination__link-icon {
  -webkit-transition: .4s;
  transition: .4s;
}

.services__container {
  display: -ms-grid;
  display: grid;
  row-gap: .7rem;
}

@media screen and (min-width: 568px) {
  .services__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .services__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.services__card {
  position: relative;
  padding: 1.5rem;
  text-align: center;
  background-color: var(--background-color-secondary);
  border: 2px solid transparent;
  border-radius: .6rem;
}

.services__card:hover {
  border-color: var(--primary-color);
}

.services__icon {
  margin-bottom: 1rem;
  font-size: var(--font-size-1);
  color: var(--primary-color);
}

.services__title {
  margin-bottom: .7rem;
  font-size: var(--font-size-4);
  color: var(--text-color-light);
}

.services__description {
  font-size: var(--font-size-6);
  color: var(--text-color-dark);
}

.gallery__container {
  -webkit-column-count: 1;
          column-count: 1;
}

@media screen and (min-width: 576px) {
  .gallery__container {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

@media screen and (min-width: 767px) {
  .gallery__container {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

.gallery__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.gallery__card:last-child {
  margin-bottom: 0;
}

.gallery__img {
  margin-bottom: .6rem;
  border-radius: .8rem;
}

.gallery__subtitle {
  margin-bottom: 0;
  font-size: var(--font-size-7);
  color: var(--text-color-dark);
}

.gallery__title {
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-light);
}

.testimonials {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}

@media screen and (min-width: 992px) {
  .testimonials {
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
}

.testimonials__description {
  font-size: var(--font-size-5);
}

@media screen and (min-width: 992px) {
  .testimonials__description {
    font-size: var(--font-size-6);
  }
}

.testimonials__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}

@media screen and (min-width: 576px) {
  .testimonials__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.testimonials__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  background-color: var(--background-color-secondary);
  border: 2px solid var(--background-color-secondary);
  border-radius: .5rem;
}

.testimonials__card:hover {
  border: 2px solid var(--primary-color);
}

.testimonials__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .8rem;
          column-gap: .8rem;
}

.testimonials__profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonials__profile-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials__profile-name {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-light);
}

@media screen and (min-width: 1024px) {
  .testimonials__profile-name {
    font-size: var(--font-size-6);
  }
}

.testimonials__profile-title {
  font-size: var(--font-size-6);
}

.testimonials__profile-title--primary {
  color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
  .testimonials__profile-title {
    font-size: var(--font-size-7);
  }
}

.blogs__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}

@media screen and (min-width: 576px) {
  .blogs__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .blogs__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.blogs__card {
  overflow: hidden;
  background-color: var(--background-color-secondary);
  border-radius: 1rem;
}

.blogs__card:hover .blogs__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.blogs__cover {
  overflow: hidden;
}

.blogs__img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: .4s;
  transition: .4s;
}

.blogs__data {
  padding: .8rem;
}

.blogs__title {
  margin-bottom: .6rem;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-light);
}

.blogs__description {
  margin-bottom: .8rem;
  font-size: var(--font-size-6);
  color: var(--text-color-dark);
}

.blogs__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs__date {
  font-size: var(--font-size-7);
  color: var(--text-color-dark);
}

.blogs__date-icon {
  margin-right: .2rem;
  color: var(--primary-color);
}

.blogs__author {
  font-size: var(--font-size-7);
  color: var(--text-color-dark);
}

.blogs__author-icon {
  margin-right: .2rem;
  color: var(--primary-color);
}

.adventure__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adventure__description {
  margin-bottom: 1rem;
  font-size: var(--font-size-5);
  color: var(--text-color-dark);
  text-align: center;
}

.footer {
  padding: 3rem 0 1.5rem;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1.5rem;
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 576px) {
  .footer__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: 767px) {
  .footer__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.footer__subtitle {
  margin-bottom: .8rem;
  font-size: var(--font-size-4);
  color: var(--text-color-light);
}

.footer__description {
  margin-bottom: .8rem;
  font-size: var(--font-size-7);
  color: var(--text-color-normal);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .4rem;
          column-gap: .4rem;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-size: var(--font-size-7);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: .7rem;
}

.footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .7rem;
          column-gap: .7rem;
  font-size: var(--font-size-6);
  color: var(--text-color-normal);
}

.footer__list-icon {
  color: var(--primary-color);
}

.footer__link {
  color: var(--text-color-normal);
}

.footer__link:hover {
  color: var(--primary-color);
}

.footer__input {
  width: 100%;
  margin-bottom: 1rem;
  padding: .4rem 1rem;
  background-color: transparent;
  color: var(--text-color-light);
  font-size: var(--font-size-7);
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  outline: none;
}

.footer__copy {
  font-size: var(--font-size-6);
  color: var(--text-color-dark);
  text-align: center;
}

::-webkit-scrollbar {
  width: .7rem;
  background-color: var(--background-color-secondary);
}

::-webkit-scrollbar-thumb {
  border-radius: .4rem;
  background-color: var(--primary-color);
}
/*# sourceMappingURL=style.css.map */